<div class="form-inline clearfix">
  <div class="nested-fields">
     <br>

    <div class="row">
      <div class="col-md-1" style="padding-top:1.2rem;">
        Added!
      </div>
      <div class="col-md-9" style="padding-right:0;">

      <%= f.text_field :education, :style => "width:100%;", :class => 'form-control',
      :placeholder => "ex: Mountlake High School '05-'08//Google Intern 2months", autofocus: false  %>
      </div>

      <div class="col-md-2" style="padding-right:0;">

      <%= link_to_remove_association "Remove", f, class: "btn btn-default form-button", style: "margin-top:0;max-width:6rem;" %>
      </div>
    </div>

  </div>
</div>
