<div class="comment cf">
  <div class="content">
    <div class="comment_content">
      <%= markdownify comment.comment %>
    </div>
    <div class="comment_author">
    <%  comment.user.revisers.each do |reviser| %>
      <% if reviser.active == true %>
      <%= link_to comment.user.username, comment.user %>
      <% else %>
      <% end %>
    <% end %>

    </div>
  </div>
  <div id="edit_button">
    <% if current_user && comment.user == current_user %>
      <%= link_to "Edit", edit_post_comment_path(comment.post, comment) %>
      <%= link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" } %>

    <% end %>



  </div>
</div>
