<% conversation.participants.each do |participant| %>
  <% unless participant == current_user %>

  <% end %>
<% end %>

<% conversation.last_message.recipients.each do |recipient| %>
  <% unless recipient == current_user %>

  <a href="/users/<%= recipient.id %>"><%= recipient.fullname %></a>
  <% end %>

<% end %>
and
<% conversation.last_message.recipients.each do |recipient| %>
  <% if recipient == current_user %>

  <%= recipient.fullname %></a>
  <% end %>

<% end %>
