<div id="response">
  <p>
    <b>Ruby Code:</b>
    <%= find_and_preserve CodeRay.scan(generate_code(request, response), "ruby").div.html_safe %>
  </p>
  <p>
    <b>Response:</b>
    <%= find_and_preserve CodeRay.scan(format_hash(response.to_hash(:attribute => false, :namespace => false)), "ruby").div.html_safe %>
  </p>
</div>