<nav class="navbar-sm">
<div class="table">
  <ul class="nav" style="background-color:#DDDDDD;text-align: center;">
    <!-- <li style="display: inline-block;"><a style="color:grey;" href="/conversations">Inbox</a></li> -->
    <li style="display: inline-block;"><a style="color:grey;" href="/sent">Requests Sent</a></li>
    <li style="display: inline-block;"><a style="color:grey;" href="/received">Requests Received</a></li>
    <!-- <% @k = current_user.revisers.last%> -->

    <!-- <li style="display: inline-block;"><%= link_to "Edit Mentor Service", edit_reviser_path(@k), style: "color:grey;"%></li> -->

  </ul>
  </div>
</nav>
