<nav>
  <ul class="nav" style="background-color:grey;">
    <li><a href="#">About</a></li>
    <li><a href="#">Inbox</a></li>
    <li><a href="#">Your Essays</a></li>
    <li><a href="#">Reviser Types</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>

