<div class="about">
  <div class="row">

    <div class="col-md-6">

      <div class="about_content">


        Are you having trouble adapting to a life in a new city?  <br><br>

        Do you want to meet local university students and <br>

        other international students in different schools? <br><br>

        Tweedlemate is a SNS for foreigners and locals! <br><br>

        Find the person of your need and Share information!

      </div>
    </div>
    <div class="col-md-6">

      <div class="about_content">
        来了韩国还没交到韩国朋友吗?   <br><br>
        是不是想认识另外语学堂的朋友们?   <br><br>
        Tweedlemate是为在学习韩语的外国人和想学外语的韩国人的平台!   <br><br>
        找找您想见面的韩国, 外国朋友!   <br><br>
      </div>
    </div>
  </div>
  <br>
  <div class="row">

    <div class="col-md-6">

      <div class="about_content">
        韓國にきたのに、まだ韓国人友達がないですか? <br><br>

他の語学堂友達を会いたいですか? <br><br>

Tweedlemateは韓國語を勉強している外国人と韓國人たちのための直メチングサイトです!  <br><br>
皆さんに会いたいた韓國人、外国人友達を探してみてください!



      </div>
    </div>

    <div class="col-md-6">
      <div class="about_content">

        <!-- 외국인 친구들이 내 도움을 필요로 한다?!  <br><br> -->

        <!-- 해외 취업이 궁금하신가요? <br><br> -->

        외국어 회화 공부는 했는데 연습할 사람이 없으신가요?!  <br><br>

        한국어를 공부중인 어학당, 교환학생 외국인 학생들과 연습해보면 어떨까요? <br><br>

        외국인 친구들의 한국 생활 적응, 한국에서의 취업도 도와주세요!  <br><br>
        <!-- (심심하고 외로운 친구들입니다...) <br><br> -->

        Tweedlemate는 한국어를 공부중인 외국인들과 한국인들을 위한 <br>매칭사이트 입니다!


      </div>
    </div>
  </div>





</div>
