<div class="how">
  <div class="how_content">
    <div class="how_title">
      How to Use
    </div>
Tweedlemate is a platform <I><B><u>where you can match yourself with a language exchange partner</u></B></I> <br><br>
However, Tweedlemate is not directly involved in matching users.  <br> <br>
This site therefore does not charge any fee for matching users .  <br> <br>
Try to match yourself with other users by sending message or <br>making contact via email and phone number
(<%= link_to "Premium Only", "/premium"%>). <br>
(ex: “Hi, my name is Mike Lombardo and I study Korean in Yonsei KLI. <br>
 Could you help me studying Korean?”)<br> <br>
Go ahead and <i><b><u>practice a new language with native speakers!</u></b></i><br> <br>
  </div>
</div>
