<div class="how">
  <div class="how_content">
    <div class="how_title">
      이용방법
    </div>
    안녕하세요! <br>

서비스를 만든 소병욱입니다. <br>

저는 미국, 일본, 프랑스에서 유학을 했는데요. <br>

좋은 선배 한명이 얼마나 도움이 되는 지 절실히 느끼고 이 서비스를 만들게 되었습니다. <br><br>

좋은 선배 한 명이 있다면 같이 커피 한잔 하면서 입학에세이도 쓰고,   <br>
장학금 에세이도 쓰고 학교생활에 대해서도 듣고,<br>
무엇보다 그 학교가 저랑 맞는 학교인지 아닌지를 이야기를 들을 수 있으니까요 <br><br>

유학원에 가봐야 상담비만 비싸고, 첨삭료만 비싸고, 입학이후에 대해서는 <br>
별로 물어볼 수 없었던 경험에서 준비하였습니다.<br><br>

한국학생들의 유학 중도포기율이 45%라고 합니다. <br>
아마 한국을 도망치듯 떠난 친구들, 부모님에게 등 떠밀려 떠난 친구들이겠지요.<br><br>

이 글을 읽으시는 분들은 어떠셨는지 궁금합니다.<br><br>

진심어린 상담 부탁드립니다.<br><br>


감사합니다!<br><br>

연락처 : hello@tweedlemate.com <br>


    </div>
</div>
