<div class="how">
  <div class="how_content">
    <div class="how_title">
      이용방법
    </div>
Tweedlemate(이하 사이트)는 원어민 언어 파트너를 만날 수 있는 플랫폼입니다.  <br>  <br>
그러나, 회원 매칭에는 직접적으로 관여하지 않습니다.  <br>  <br>
매칭에 관여를 안 하므로 연결 수수료도 없습니다.  <br>  <br>
상대방에게 쪽지를 보내 통해 만나보시기 바랍니다.   <br>  <br>
(예: 안녕하세요! Tweedlemate에서 보고 연락드립니다! Can I practice English with you? <br> I’ll help your Korean!)  <br>  <br>

쪽지는 하루 3개까지 무료, 무제한 사용은 유료회원만 가능합니다.(<%= link_to "유료회원", "/premium"%>)  <br>  <br>
한국어를 공부 중인 외국인들과 만나보세요!! <%= link_to "프로필 검색!!", "/users?utf8=%E2%9C%93&q%5Bcountry_cont%5D=&q%5Bcity_cont%5D=&q%5Bschool_cont%5D=&q%5Bmajor_cont%5D=&commit=Search"%>
    </div>
</div>
