<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1>Share What's Happening!!</h1>
    </div>
  </div>

  <div id="form">
    <div class="wrapper_skinny">
      <%= render 'form' %>
    </div>
  </div>
</div>
