@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "user";
@import "posts";
@import "messages";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery-ui";

// -----------------------------
@import "topsenpai";
@import "navbar";
@import "bird";
@import "mentor";

@import "category";
@import "about";
@import "howtouse";
@import "premium";

/*---------------------------------------*/

.navbar-brand {
  img {
    width:11rem;
    &:hover {
      opacity: .2;
    }

  }
}
/*---------------------------------------*/
.home_search {
  width:80%;
  margin-top: 3rem;
  margin: 0 auto;
  h1 {
    margin-top: 0;
    line-height:2em;
    font-size: 1.5rem;
  }
  input[type="text"] {
  width: 100%;
  height: 3rem;
  padding: .5rem 1rem;
  background: #EDEFF5;
  border: 1px solid #dde0ec;
  border-radius: .35rem;
  margin-top: .5rem;
  margin-bottom: 4rem;
  }
}



/*---------------------------------------*/

.carousel-inner {
  .item {
      img {
        width: 50%;
        margin: auto;
      }
  }
}
.carousel-control.left {
  // background-color: #fff;
}

.error-message{
  color: red;
}

/*autocomple*/
.center{
  text-align: center;
}



.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: rgb(217, 237, 247);
}
.ui-helper-hidden-accessible {
  display: none;
}

html {
  height: 100%;

 min-height:100%;
}

body {
    color: #565a5c;
    background-color: #fff;
    // background-image: image-url("walk.jpeg");
    background-image: image-url("talks.jpeg");

    background-size: 100%;
    background-position: center center;
    background-repeat:   no-repeat;
    opacity: .99;

     min-height:100%;
}

h4 {

  font-size: 38px;
}

/* reservation forms page ---------------------------------------------------------------   */

.Absolute-Center {
 position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
 }

.reservation-description{
  font-size: 17px;
margin-top: 30px;
border-bottom: 1px solid #ccc;
padding-bottom: 20px;
}

.date-time-inputs{
  padding-top: 30px;
}

.float-right{
  float:right;
}

/*reservation table-------------------------------------------------------------------*/

.reservation-table td{
  width: 100%;
  border: 1px solid #dce0e0;
  padding:10px;
}







/*perfect image ratios 2 for smaller profile photos _----------------------------------*/

#contain-pic-show {

  }
  .language {
    display:inline;
    font-weight:500;
    color: #000;
  }
.thumbnail {
  margin:.3rem;
  position: relative;
  width: 26%;
  height: 90px;
  float: left;
  overflow: hidden;
}

.thumbnail #image-tag {

  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail #image-tag.portrait {
  width: 100%;
  height: auto;
  min-width: 80px;
  }


.thumbnail-show {
  margin:auto;
  position: relative;
  width: 20%;
  height: 100px;
  // float: left;
  overflow: hidden;
}
.thumbnail-show #image-tag {

  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail-show #image-tag.portrait {
  width: 80%;
  height: auto;
  }

.thumbnail-reviser {
  margin:auto;
  position: relative;
  width: 100%;
  height: 200px;
  // float: left;
  overflow: hidden;
}
.thumbnail-reviser #image-tag {

  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail-reviser #image-tag.portrait {
  width: 80%;
  height: auto;
  }


#profile_index {
  margin-top:5px;
  overflow:hidden;
  height:10rem;
  &:hover {
    color: #ccc;

  }
}

/*perfect image ratios -------------------------------*/
.width300{
width: 300px;
}

#contain-pic {

    }
.thumbnail2 {
  border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
  margin:auto;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

   .thumbnail2 #image-tag {

  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail2 #image-tag.portrait {
  width: 100%;
  height: auto;
}
/*Another perfect ratio for users*/


.thumbnail3 {
  margin:auto;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

   .thumbnail3 .image-tag {

  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;

  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          img { width: 100%  }
    img { height: 100%  }
}
.thumbnail3 .image-tag.portrait {

  width: 100%;
  height: auto;
  }







/*perfectimage ratios ^^^^^ ---------------^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/



.container-body {
  margin-left: 3rem;
  margin-right: 3rem;
  // margin-top: 5rem;
}


.round-avatar {
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
position: relative;
display: inline-block;
vertical-align: bottom;
overflow: hidden;
background-color: #cacccd;

}



.header-icon.user-profile-image {
    height: 30px;
    width: 30px;
    top: 10px;
    background-position: 50% 7px;
    border-color: #c4c4c4;
}

.user-profile-image {
 height: 20px;
    width: 20px;
position: fixed;
top: 0;
left: 0;

    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAABGlBMVEVmb3pJWWZtbH9rc35ncHtDVGJqcn1IWGVFVmNpcXxEVWNrc31sdH5ocHtlb3pGV2RHWGVDVWJKWWZHV2RKWmdYZHBsc35lbnpEVmNkbnlocXxocXtSYG1EVWJWY29tdH9OXWlFVmROXWpibHdlbnlrcn1KWmZSYGxTYW1bZnJMW2hOXGlUYm5jbXhNXGlLWmdUYW1HV2VdaHReaXVBU2FfanVga3ZIWWZaZnJAUmBtdYBIWGZXZHBganZvdoFncHpRX2tudYBCU2FudX9JWmZvdYBcZ3NjbHhcaHNLW2hZZXFqcnxQXmtPXmtGVmRXZG9UYW5aZnFVYm5CVGFbZ3NkbXk%2FUl9pcnxbZ3JBU2BaZXFRX2xha3Zha3cik6G7AAABeklEQVQ4EYXBBWLbQBQFwPe7LAZLZnaYqczMzHD%2Fa9SNnS1o1cwAF86FCs5xHp%2BFIZP4jyhkN%2FZHW9vfyxC1uD%2FwhNaidd0PeAQ3VnxRNKf6ow1jIriYqU5oQR8%2FNxwubCDIOi4YXOS6R5beDTkc5L5HVrwJDgd%2F4JE1nnQ5HFjRJ0uvSTg07x2mZImnd2ao6rYnOVn55o5BVbD9sUFW40ovQJU8aiVkKfFQwmHlJFG0dC0%2FXIELZ1ualuK9Z104lcU7WsjuvmZwCztPxCrNZV6DG7hFstnQNBdfavtN1GiyW3s50cHqjEWod7PnEenbDzhqyatHShGp%2FPPQh1PUGbbXdU5zSau3ExhU8SB8lQhFC2n8FkOOf%2Fj%2B%2B4ZIMjqjBF2WDH8JphPx8j79IYvF6GKJ3yJ24qVU4YnHDNandjwmh7g1lTjD1kRGDln6QmLJfFCKnNTBI4OF4KugGumbEqe42dVUw%2Fvm45T8MaY6Cc06%2BKUsUqrV32DAT5P3H1sQsWyjAAAAAElFTkSuQmCC)  no-repeat;
    background-repeat: no-repeat;
background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
background-size: cover;

}
.media-photo {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    background-color: #cacccd;
}
.img-round, .media-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
    img { height: 100%  }
}


.cornered-image-70 {

    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 70px;
    width: 80px;
    overflow: hidden;
    text-align: center;
    img { width: 100%  }
    img { height: 100%  }
}

/* user registration and loggin!! ------------------------------------------------  */


.registration-bg {
  width: 100%;
  margin-top:10rem;
  padding-bottom:10rem;

height: 100%;
position: relative;
top: 0;
left: 0;
background-repeat: no-repeat;
background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
background-size: cover;

}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
.container2 {
    width: 60%;

   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-it {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.btn-primary2.btn{
    border: 1px solid #3b5998;
    border-radius: 2px;
    font-weight: bold;
    background-color: #3b5998;
    color: #fff;
    padding: 10px 25px 10px 25px;

}

.log-in{
  border: none;
  background-color: #DDDDDD;
  opacity: 0.9;
}

.panel {
  border-radius: 8px;
}

.panel-heading{
  margin:0 auto;


  h1 {

    text-align: center;
  }
}

.link-borders{

}


/* user profile page!!! ----------------------------------------------------------   */
.btn-online.btn{
  background-color: green;
    border: 1px solid green;
    border-radius: 2px;
    color: white;
    padding: 1px 1px 1px 1px;
    font-size: 10px;
 margin-left: auto;
    margin-right: auto;
}
.btn-offline.btn{
  background-color: #990000;;
    border: 1px solid #990000;;
    border-radius: 2px;
    color: white;
    padding: 1px 1px 1px 1px;
    font-size: 10px;
     margin-left: auto;
    margin-right: auto;
}



.avatarpreview{
  margin-right: 200px;


}

 .avatarfile{
    margin-left: 150px;
    margin-top: 120px;
 }



/*Button Styles!!!! ---------------------------------------------*/

.icon-buttons {
   border: 1px solid #a94442;
    border-radius: 2px;
    font-weight: bold;
    background-color: #a94442;
    color: #fff;
    padding: 5px 10px 5px 10px;

}
.icon-buttons.btn:hover, .icon-buttons.btn:focus {
    border-color: lighten(#a94442, 15%);
    border-bottom-color: lighten(#a94442, 15%);
    background-color: lighten(#a94442, 15%);
    outline:none;
}

.icon-buttons.btn:active {
    border-color: #ccffe6;
    background-color: #ccffe6;
    outline:none;
}

.btn-right {
    margin: 0 auto;

}

.btn-message.btn{

border: 1px solid #45d1b8;
    border-radius: 2px;
    font-weight: bold;
    background-color: #45d1b8;
    color: #fff;
    padding: 5px 15px 5px 15px;
}

.btn-message.btn:hover, .btn-message.btn:focus {
    border-color: #a94442;
    border-bottom-color: #a94442;
    background-color: #a94442;
    outline:none;
}

.btn-message.btn:active {
    border-color: #ccffe6;
    background-color: #ccffe6;
    outline:none;
}

.btn-primary.btn{
    border: 1px solid #a94442;
    border-radius: 2px;
    font-weight: bold;
    background-color: #a94442;
    color: #fff;
    padding: 10px 25px 10px 25px;

}

.btn-primary.btn:hover, .btn-primary.btn:focus {
    border-color: lighten(#a94442, 15%);
    border-bottom-color: lighten(#a94442, 15%);
    background-color: lighten(#a94442, 15%);
    color:grey;
    outline:none;
}

.btn-primary.btn:active {
    border-color: #ccffe6;
    background-color: #ccffe6;
    outline:none;
}

.btn-default.btn {
    width: 100%;
    border-radius: 2px;
    padding: 10px 0;
    margin-top: 10px;

}


/*download button -------------------------------------------------------------------*/

.btn-download2.btn{
    border: 1px solid #45d1b8;
    border-radius: 2px;
    font-weight: bold;
    background-color: #45d1b8;
    color: #fff;
    padding: 2px 2px 2px 2px;
    font-size: 20px;

}

.btn-download2.btn:hover, .btn-download.btn:focus {
    border-color: #a94442;
    border-bottom-color: #a94442;
    background-color: #a94442;
    color:grey;
    outline:none;
}

.btn-download2.btn:active {
    border-color: #ccffe6;
    background-color: #ccffe6;
    outline:none;
}

/*Second one*/
.btn-download.btn{
    border: 1px solid #a94442;
    border-radius: 2px;
    font-weight: bold;
    background-color: #a94442;
    color: #fff;
    padding: 1px 1px 1px 1px;
    font-size: 10px;

}

.btn-download.btn:hover, .btn-download.btn:focus {
    border-color: #a94442;
    border-bottom-color: #a94442;
    background-color: #a94442;
    color:grey;
    outline:none;
}

.btn-download.btn:active {
    border-color: #ccffe6;
    background-color: #ccffe6;
    outline:none;
}
.panel-default .panel-heading {
    color: #565a5c;
    background-color: #edefed;
    font-size: 18px;
    font-weight: 400;

}

.row-space-1{
    margin-top: 6px;
    margin-bottom: 6px;
}

.row-space-2{
    margin-top: 12px;
    margin-bottom: 12px;
}

.row-space3{
    margin-top: 24px;
    margin-bottom: 24px;
}

.description {
    color: #575757;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}



.avatar-small {
    width: 28px;
}

.avatar-medium {
    width: 48px;
}

.avatar-large {
    width: 68px;
}

.avatar-full {
    width: 100%;
}

.form-group {
    margin-bottom: 25px;
}

.form-control {
    border-radius: 2px;
    height: 4rem;
}

.sidebar-list {
    padding-left: 0;
    list-style: none;
}

.sidebar-item {
    padding:10px 0;
    font-size: 16px;
    color: #82888a;
    border-bottom: 1px solid #CCC;
}

.sidebar-link {
    color: #82888a;
    text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
    color: #cacccd;
    text-decoration: none;
}

.active.sidebar-link {
    color: #565a5c;
    font-weight: bold;
    text-decoration: none;
}



/*revisers page*/


.panel-body{

  margin-top: 0px;
}

/* reviser profile page ----------------------------------------------------------*/
.container_index{
  margin:auto;
  margin-top: 1rem;

  margin-bottom: 1rem;
  width:80%;
  background-color: #fff;
  padding: 1% 0 1% 0;
  border: 2px solid #a94442;
  border-radius: .5rem;
}


.container3{
   margin:auto;
  // margin-bottom: 2rem;
  width:80%;
}
.container_post {
  margin:0 auto;
  padding:0 1rem;

   width:100%;
}


label{
  color: #565a5c;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;

}
select{
  color: #565a5c;
  background-color: #fff;
  width:100%;
  border:1px solid#ccc;
  border-radius: 2px;
  padding: 10px;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}
.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position:absolute;
  color: #82888a;
  top: 40px;
  right:30px;
  transform: scale(0.84, 0.42);
}
input[type="checkbox"] {
  height:1.25em;
  width:1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border:1px solid #c4c4c4;
  border-radius: 2px;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}
input[type="checkbox"]:checked:before {
  content: '\2713';
  font-size: 0.95em;
  position:absolute;
  text-align: center;
  color: #82888a;
  width: 1.25em;
}

.textbox-med {
  height:50px;
  width: 70px;
  font-size: 20px;
}

.textbox-search {
  height:40px;
  width: 20rem;
  font-size: 18px;

}





/* posts!!!!  ---------------------------------------------------------- */

#image-preview {
  margin: 0px auto;
  height: 300px;
}

#post_image {
  padding: 1em;
  margin: 0px auto;
}




/* Home Page --------------------------------------------------------------------*/
.user-layout-home{

  width:80%;
  margin-left:200px;margin-top:25px;}
/*
  #wrap {
    min-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }

  #prof-wrap {
   max-width: 670px;

  }

  #info-wrap{
    min-width: 340px;
    margin-right: auto;
    margin-left: auto;
  }
*/
.html {
  overflow-y:scroll !important;

}
.scroll-bar {
    overflow-x:scroll;
    white-space:nowrap;
    background-color:#DDDDDD;
    height:305px;
    max-height:305px;
    margin-top:10px;
    margin-left: auto;
    margin-right:auto;
    float: none;
    -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-radius: 6px;

}
.border-color {
  border:2px solid #45d1b8;
}
.border-color2 {
  border:2px solid #45d1b8;
  max-width: 100%;

}

#average_rating{
  img {
    width:10px;

  }
}

#no_rating{
   img {
    width:10px;

  }
}

.reviser-profiles{
            display:inline-block;
            position:relative;
            transform: translateY(-1.5%);
            margin-left:-20px;
        }





.home-posts-container {
    margin-top: 20px;
    margin-left:30px;
    background-color:#fff;
    margin-left: auto;
    margin-right:auto;
    float: none;
    border-radius: 5px;
    border:2px solid #a94442;
    margin-bottom: 20rem;

}



.fixedElement {
    background-color: #c0c0c0;
    position:fixed;
    top:0;
    width: 100%;
    z-index:100;
}

.thread {
  background-color: #ffffff;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 3rem;
  border-bottom: 1.5px solid #ccc;
  padding-top: 1%;
  margin-bottom: 1%;

        .post_thumbnail2 {
          width: 8%;
          float: left;
          // margin-top: 6px;
          img {
            // width: 4rem;
            // height: 4rem;
            max-width: 100%;
            border-radius: .3rem;
            // margin: .5rem 0;
            // margin-top: 2rem;
          }
        }
        a {
          // text-decoration: none;
          &:hover {
              color: lighten($highlight, 15%);
          }
          .post_overview {
            background-color: #fff;
            width: 60%;
            margin-left: 1.5%;
            max-width: 100%;
            float:left;
            h2 {
              // padding: .2rem 0;

              margin: .1rem 0;
              font-size: 1.2rem;

            }
          }
          .post_overview2 {
            background-color: #fff;
            max-width: 100%;
            float:left;
            width: 60%;
            margin-left: 1.5%;

            h2 {
              // padding: .2rem 0;

              margin: .1rem 0;
              font-size: 1.2rem;

            }
          }

          .author  {
            text-decoration: none;
            background-color: #fff;
            color: #222222;
            width: 30%;
            font-size: 1.1rem;
            float:right;
            // line-height: 25px;
            &:hover {
            color: lighten($highlight, 15%);
            }
          }
        }


      }

/* ## POST CUSTOMISATIONS ## --------------------------------------------------*/
/* Users Page-------------------------------------------------------------------*/


.user-layout{
  // padding-top: 40px;
  margin:0 auto;
  width:100%;
  // margin: 3rem auto;
  // background-color: #fff;
}
.user_attribute {
  display:inline;
  color: #000;
  font-weight:500;
  &:hover {
    text-decoration:underline;

  }
}
.preview-image {

  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

.posts-wrapper {

  max-width:30%;
  width:30%;
  float:left;
  margin:2rem 1rem;
  &:hover {
    img{
      opacity: .8;
      }
    }
}


.reviser-posts-wrapper {

  max-width: 100%;
  width: 100%;
  float:left;
  margin: 10px;
  &:hover {
    img{
      opacity: .8;
      }
    }
}



.user-name{
  margin:auto;
  font-size: 1.8rem;
  text-align: center;

}

.post {
  background-color: #fff;
  border-color: #A94441;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  .post-head {
    flex-direction: row;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    color: #125688;
    font-size: 30px;
    line-height: 18px;
    .user-name, .time-ago {
      display: inline;
    }
    .user-name {

      font-weight: 500;
    }

  }
  .image {
    border-bottom: 1px solid #eeefef;
    border-top: 1px solid #eeefef;
  }
}

.post-bottom {

    border-top: 1px solid #EEEFEF;
  }
  .caption {
    margin-bottom: 0px;
  }







/* ## Wrapper and styling for the new and edit views ## */

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}


/*    ------------------------------------------------------------------*/

// Paginations

.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}

.pagination:after {
  clear: both;
}

.pagination {
  text-align: center;
  margin: 2rem 0;

  a, .previous_page, .next_page {

    padding: 1rem 1.5rem;
    margin: 0 .25rem;
    border-radius: .15rem;
    line-height: 20px;
    text-decoration: none;
    background-color: #a94442;
    font-weight: 700;
    font-size: 1.5rem;
    font-style: normal;
    color: #FFFFFF;
    &:hover {
      background: lighten(#a94442, 15%);
      color: #FFFFFF;

    }
  }
  .disabled {
    color: #C0C0C0;
    &:hover {
      color: #C0C0C0;
    }
  }
  .current {
    padding: 1rem 1.5rem;
    margin: 0 .25rem;
    border-radius: .15rem;
    line-height: 20px;
    text-decoration: none;
    background-color: lighten(#a94442, 15%);
    font-weight: 700;
    font-size: 1.5rem;
    font-style: normal;
    color: #FFFFFF;
    background: darken(#a94442, 15%);
  }
}
/*    ------------------------------------------------------------------*/
#terms {
  width:20rem;
   position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);


}
/*    ------------------------------------------------------------------*/
.links {
  a {
    color:#fff;
  }
}
