#category_list {



  background-color: #fff;
  opacity: .85;
  margin: .5rem auto;
  padding: 0 2rem;

  float: left;
  border-radius: .5rem;

	width: 100%;
  .list_name {
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 3rem;
  }
  ul {
    min-height: 30rem;

    border: 1px solid #ccc;
    border-radius: .35rem;
    li {
      margin:1rem 0;
    }

  }

}
