.mentor_step {
  width:100%;
  font-size: 2rem;
  margin:10rem auto;

  .step_img {
    img {
      width:60rem;
      padding:3rem 2rem;
      border: 1.5px solid #ccc;
      border-radius: .5rem;
    }
  }

}
