

/*   nav bar  --------------------------------------------------------------    */

span {
  margin-top: 0;
  // img {
  //     float: left;
  //     overflow: hidden;
  //     margin-left: 47rem;
  // }
}
.navbar-brand {
    float: left;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-inverse .navbar-brand {
  color: darken(#a94442, 15%);
  font-weight: 500;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ccc;

}
.navbar-inverse .navbar-nav > .open > a {
  background-color: transparent;
  color: #777777;
  width: 100%;

}
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  width: 100%;
  background-color: transparent;
  color: lighten(#777777, 15%);


}


.navbar-inverse .navbar-nav > li > a {
  color: #777777;
  width: 100%;

  background-color: transparent;
  // border-left: 1px solid #ccc;
}

.navbar-inverse .navbar-nav > li:last-child > a {
  width: 100%;

  color: #777777;
  background-color: transparent;
  // border-right: 1px solid #ccc;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  width: 100%;
  color: #ccc;
  background-color: transparent;
}
.nav-divider {
  height: 1px;
  width:100%;
  padding: 0 1px;

  // display:block; /* for use on default inline elements like span */
  margin: 1px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu {
  min-width: 120px;
}
.navbar-inverse {
    border-radius: 0;
    position: relative;
    // min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent;
    background-color: #fff;
}


.navbar {
    border-radius: 0;
    position: relative;
    // min-height: 50px;
    margin-bottom: 0;
    border: 1px solid #ccc;

    background-color: #fff;
}

.navbar-sm {
    border-radius: 0;
    position: relative;
    margin-bottom: 0;
    background-color: #fff;
}
.nav .open > a, .nav .open > a:hover {
  border-color:#ccc;
}
.navbar-default .navbar-nav > li:first-child > a {
  color: #a94442;
  border-left: none;
}
.navbar-default .navbar-nav > li > a {
  color: #a94442;
  border-left: 1px solid #ccc;
}
.navbar-default .navbar-nav > li:last-child > a {
  color: #a94442;
  border-right: none;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #ccc;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #ddd;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,

.navbar-default .navbar-nav > .open > a:focus {
  // background-color: lighten(#a94442, 15%);
  background-color: transparent;

  width:100%;


}


.navbar-nav {
  margin: 0 auto;
  text-align: center;
  li{
    float: none;
    display: inline-block;
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', 'sans-serif';
}


// ------------------------------2nd

.navbar-brand-centered {

      position: absolute;
      display: block;
      background-color: transparent;
      // width: 100%;
      text-align: center;
      margin:0 auto;

}
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #ccc;
}
