// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$white: #FFFFFF;
$highlight: #EE7964;
$dark: #2C3135;
$light: #FFB0A2;
$titleblue: #3462AB;
$contentblue: #A2C6FF;
$buttonblue: #3B669E;
$darkgreen: #45d1b8;

.container4{
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.search_container {
  width: 65%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20rem;
  p {
    font-size: 2.4rem;
    font-weight: 300;
    color: #777777;
  }
}


#form {
  padding: 3rem 5% 10rem 5%;
  background: $white;
  border-radius: .35rem;
  margin: 0 auto;
  margin-bottom: 10rem;
  .field {
    margin: 0 auto;
    color: $dark;
    margin-top: .5rem;
    font-size: 1.2em;
    font-weight: 300;


    input[type="text"] {
      width: 100%;
      height: 2.5rem;
      padding: 0 1rem;
      border: 1px solid #d1d1d1;
      border-radius: .35rem;
      margin-top: .5rem;
      height: 4rem;
    }
    textarea {
  			width: 100%;
  			min-height: 200px;
  			border: 1px solid #d1d1d1;
  			border-radius: .2em;
        padding: 0 1rem;

  		}
    input[type="file"] {
  			background: #feb65e;
  			border: none;
  			color: white;
  			font-weight: 100;
  			border-radius: .2em;
        max-width: 200px;
        margin: 2rem;

  		}
  }

}



#posts_content {
	background: $white;
	padding: 2em 5% 9rem 5%;
	border-radius: .5em;
	width: 75%;
	margin: 0 auto;
	margin-top: 2rem;
  border: 1px solid #ccc;
  word-wrap:break-word;

	img {
		width: 25rem;
		max-width: 100%;
		border-radius: .3rem;
	}
	#title {
		font-weight: 500;
		font-size: 2rem;
		color: black;
		margin-top: 0;
    margin-bottom: 2rem;
    border-bottom: 2px solid #ddd;


	}
	h5 {
		a {
			// text-decoration: none;
			// color: $darkgreen;
      color: #feb65e;

			font-size: 2.3rem;
			font-weight: 300;
			line-height: 1.5;
			float: right;
      // border-bottom: 1px solid #ccc;
			&:hover {
				// text-decoration: none;
			}
		}


	}
	#content{
		color: #333;
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.5;
    margin-top: 5rem;
    padding-bottom: 20rem;

	}
	#comments {

    .comment:first-child {
      border-top: 1px solid #333;
      margin-top: 12rem;
    }
		.comment {
			border-bottom: 1px solid #d1d1d1;
			.content {
				width: 75%;
				float: left;
          p {
            color: #333;
            font-size: 1.6rem;
          }


			}
			.buttons {
				width: 25%;
				float: left;
				font-size: .8em;
				text-align: right;
				padding-top: 1.5em;
				a {
					color: #397CAC;
					border: 1px solid #397CAC;
					padding: .5em 1em;
					border-radius: 0.2em;
					text-decoration: none;
					margin-right: 2%;
				}
			}
			.comment_content {
				padding: 0;
				color: #EE7964;
        margin: 1rem 0 0;
        p {

        }
			}
			.comment_author {

				a{
          color: #ddd;
  				margin-top: .3rem;
  				font-size: 1.5rem;
  				font-weight: 300;
          text-decoration:none;
          &:hover {
				   color: #45d1b8;
				  }
				}
			}
			#edit_button {
				padding-top: 1em;
				float: right;
				margin: 1rem 0;

				a {
					border: none;
					color: white;
					font-weight: bold;
					font-size: 1.5rem;
					padding: .5em 1em;
					border-radius: .2em;
					margin-top: 2rem;
					background: #feb65e;
				  &:hover {
				   background: darken(#feb65e, 7.5%);
				  }
				}
			}
		}
		input[type="submit"] {
			border: none;
			color: white;
			font-weight: bold;
			font-size: 1.5rem;
			padding: .5em 1em;
			border-radius: .2em;
			background: #feb65e;
		  &:hover {
		   background: darken(#feb65e, 7.5%);
		  }
		}
		textarea {
			width: 100%;
			min-height: 200px;
			border: 1px solid #d1d1d1;
			border-radius: .2em;
			margin: 1em 0;
		}
	}
  #below_post {
    margin-top: 2rem;
    width: 80%;
    margin: 0 auto;
    // text-align: center;
    ul {
      list-style: none;
      padding-left: 0;
      li {
				border-bottom: 1px solid lighten($dark, 65%);

        &:last-child {
        border-bottom: none;
        }
        &:hover {
            color: lighten($highlight, 15%);
        }
        .post_number {
          h1 {
            width: 5%;
            float: left;
            text-align: center;
            margin: .5rem;
            font-size: 1.5rem;
            // color: black;
            // font-weight: 700;
            &:hover {
	              color: lighten($highlight, 15%);
		        }
          }

        }

        .post_overview {
          width: 76.5%;
          float: left;
          margin-left: 1.5%;
        }

	        a {
	          color: $dark;
	          font-size: 2rem;
	          margin: .2rem 0;
	          padding: .2rem 0;
	          text-decoration: none;
						&:hover {
	              color: lighten($highlight, 15%);
		        }
						h2 {
		          margin: .1rem 0;
		          padding: .2rem 0;
							text-decoration: none;
							font-size: 1.5rem;
	        }

	      }


      }
    }
  }
}






.edit {
	a{
		float: right;

	}
}
.wrapper {
	width: 60%;
	margin: 0 auto;
}
.post_wrapper {
  padding-top: 4rem;
	width: 85%;
	margin: 0 auto;
}
.center {
	margin: 0 auto;
	text-align: center;


}
.board {
	background: $white;
	border-radius: .5em;
	width: 75%;
	margin: 0 auto;
	margin-top: 2rem;
  border: 1px solid #ddd;
	.post_button {
		color: $white;
	  text-decoration: none;
	  font-size: 1rem;
	  padding: 1rem 2rem;
	  border-radius: 2rem;
	  outline: none;
	  border: none;
	}
	#feed {
    ul {
      list-style: none;
      padding-left: 0;
      li {
				border-bottom: 1px solid lighten($dark, 65%);
        margin-top: 1%;
        &:last-child {
        border-bottom: none;
        }
        .post_number {
          h1 {
            width: 5%;
            float: left;
            text-align: center;
            // margin-top: 2.5rem;
            font-size: 1.5rem;
            // color: black;
            // font-weight: 700;
            margin: 0 0;

          }

        }
        .post_thumbnail {
          width: 10%;
          float: left;
          img {
            // width: 5rem;
            // height: 5rem;
            max-width: 100%;
            // margin-top: 1rem;
            border-radius: .3rem;
						margin: .5rem 0;

          }
        }
        .post_overview {
          width: 85%;
          float: left;
          margin-left: 1.5%;
          // background-color: #ccc;

        }

	        a {
	          color: $dark;
	          font-size: 1rem;
	          // margin: .2rem 0;
	          // padding: .2rem 0;
	          text-decoration: none;
						&:hover {
	              color: lighten($highlight, 15%);
		        }
						.post_link {
		          margin: 0 0;
              padding: 0 0;
							text-decoration: none;
							font-size: 1.5rem;
              float: left;
	        }

	      }
        .description  {
          font-size: 1rem;
          color: lighten($dark, 25%);
          margin: 0 0;
          padding: 0 0;
          float: right;

					// &:hover {
          // color: lighten($highlight, 15%);
	        // }
        }

      }
    }
  }
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}
